.footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
    border: 1px solid #000000;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $footer-hero-background;
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}
.footer__wrapper {
    @extend %container;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }
}
.footer__contacts {
    @media screen and (min-width: 768px) {
        margin-right: 165px;
    }
    @media screen and (min-width: 1070px) {
        margin-right: 300px;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 70px;
    }

}
.footer__logo {
    @extend %logo;
    display: block;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
    color: $main-background;
    margin-bottom: 20px;
}
.footer__text {
    color: $color-accent;
}
.footer__addresses {
    text-decoration: none;
    color: $main-background;
    font-style: inherit;
    margin-bottom: 60px;
}
.footer__list {
    @extend %list;
}
.footer__item:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
    }
}
.footer__link {
    text-decoration: none;
    color: $main-background;
    font-style: inherit;
    &--color {
        color: rgba(255, 255, 255, 0.6);
    }
}
// footet social
.footer__social {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }
    
}
.footer-social__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $main-background;
    margin-top: 0;
    margin-bottom: 20px;
}
.footer-socials__items {
    @extend %socials-icons;
    @extend %list
}
.footer-socials__list:not(:last-child) {
    margin-right: 10px;
}
.footer-socials__link {
    @extend %socials-icons__link;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms $timing-function;
    &:hover, &:focus {
        color: #ffffff;
        background-color: $color-accent;
    }
}
.footer-socials__icon {
    fill: $main-background;
}

//field in footer 

.footer-form__text {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    color: $main-background;
}
.footer-form__subscribe {
@media screen and (min-width: 1200px) {
    display: flex;
    align-content: center;
    align-items: center;
}
    
}
.footer-form__field {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $main-background;
    background-color: transparent;
    outline: transparent;
    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
    }
    @media screen and (min-width: 480px) {
        width: 450px;
    }
    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-right: 12px;
    }
}
.footer-form__button {
    @extend %button;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    transition: background-color 250ms $timing-function;
    &:hover, &:focus {
            background-color: $color-button-hover;
    }
}
.button__icon {
    margin-left: 10px;
    fill: $main-background;
}