.gallery {
    @extend %section;
}
.gallery__wrapper{
    @extend %container;
}
.gallery-buttons {
    @extend %list;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.gallery-buttons__item:not(:last-child) {
    margin-right: 8px;
}

.gallery-buttons__button {
    @extend %button;
    font-weight: 500;
    line-height: 1.62;
    color: inherit;
    letter-spacing: inherit;
    padding: 6px 22px;
    box-shadow: none;
    background-color: $sub-backgrount;
    transition: background-color 250ms $timing-function, color 250ms $timing-function,
        box-shadow 250ms $timing-function;
        &:hover, &:focus {
            background-color: $color-accent;
            color: $main-background;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}



