$main-background: #ffffff;
$sub-backgrount: #f5f4fa;
$footer-hero-background: #2f303a;
$color-accent: #2196f3;
$color-button-hover: #188ce8;
$color-social-link: #afb1b8;
$icon-sub-text: #757575;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$main-color: #212121;
$main-font: 'Roboto', sans-serif;
$letter-spacing: 0.03em;
$transition-color: color 250ms $timing-function;
$transition-background: background-color 250ms $timing-function;